!!!
%html
  %head
    %title FreeAtlantaMove.com
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width', 'initial-scale' => 1 }
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path 'favicon.ico'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700&display=swap'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/navbar' unless navbar_should_be_hidden?
    = yield
